* {
    background-color: black;
}

/* Home.jsx page name "Madilyn Cooper" */
.name {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    font-size: 70px;
    letter-spacing: 15px;
    color: #fff;
    -webkit-animation: glow 1.2s ease-in-out infinite alternate;
    -moz-animation: glow 1.2s ease-in-out infinite alternate;
    animation: glow 1.2s ease-in-out infinite alternate;
}

/* "Madilyn Cooper" Home.jsx glow animation */
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 0px #fff;
        opacity: .16;
    }

    to {
        text-shadow: 0 0 2px #fff;
        opacity: 1;
    }
}

/* Navigation menu container on Home.jsx*/
.nav {
    visibility: hidden;
}

/* Home.jsx page navigation and name header container for hover effects */
.homePage:hover .nav {
    visibility: visible;
}

.homePage:hover .name {
    visibility: hidden;
}

/* Navigation.jsx "Get to Know Me" header */
.explore {
    color: white;
    font-size: 60px;
    text-shadow: 0 0 2px #fff;
    letter-spacing: 10px;
    margin-left: 80%;
    margin-top: -45%;
}

/* Navigation list menu in Navigation.jsx */
.navList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    margin-left: 150%;
    margin-top: -75%;

}

/* Individual navigation links in Navigation.jsx */
.about,
.projects,
.resume,
.contact,
.gitHub {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    padding: 15px;
    margin-bottom: 30px;
    letter-spacing: 10px;
}

.about:hover,
.projects:hover,
.resume:hover,
.contact:hover,
.gitHub:hover {
    cursor: pointer;
}

/* "About Me" and about image in Navigation.jsx */
.aboutParent {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* "About Me" and about image hover effects Navigation.jsx */
.aboutParent .about {
    visibility: hidden;
}

.aboutParent:hover .about {
    visibility: visible;
}

/* "Projects" and projects image in Navigation.jsx */
.projectParent {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 55%;
}

/* "Projects" and projects image hover effects in Navigation.jsx */
.projectParent .projects {
    visibility: hidden;
}

.projectParent:hover .projects {
    visibility: visible;
}

/* "Resume" and resume image in Navigation.jsx */
.resumeParent {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: -15%;
}

/* "resume" and resume image hover effects in Navigation.jsx*/
.resumeParent .resume {
    visibility: hidden;
}

.resumeParent:hover .resume {
    visibility: visible;
}

/* "contact" and contact image in Navigation.jsx */
.contactParent {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 120%;
    margin-top: -35%;
}

/* "contact" and contact image hover effects */
.contactParent .contact {
    visibility: hidden;
}

.contactParent:hover .contact {
    visibility: visible;
}

/* Hamburger Menu image */
.burger {
    margin-top: 2%;
    margin-left: 2%;
}

/* Container for picture of Madilyn on About.jsx page*/
.picContainer {
    margin-left: 10%;
    margin-top: 10%;
}

/* Photo of Madilyn Cooper on About.jsx page */
.madilynPic {
    height: 20%;
    width: 20%;
    border-radius: 15%;
    filter: grayscale(100%);
    transition: transform .7s;
    margin: 40px;
}

.madilynPic:hover {
    filter: none;
    height: 20%;
    width: 20%;
    transform: scale(1.5);
}

/* Container for quote, and quote author on About.jsx */
.quoteContainer {
    margin-left: 45%;
    margin-right: 15%;
    letter-spacing: 5px;
    margin-top: -25%;
}

/* Text of quote on About.jsx */
.quoteText {
    line-height: 1.5;
}

/* Quote Author name on About.jsx */
.quoteAuthor {
    margin-top: 20px;
}

/* Who,what,why container on About.jsx page */
.bio {
    margin-top: 10%;
    margin-bottom: 10%;
}

/* Who  and Why section in About.jsx */
.who h1,
.why h1 {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.who p,
.why p {
    margin-right: 15%;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 20px;
    line-height: 1.5;
}

.who,
.why,
.what {
    padding: 10%;
}

/* What section in About.jsx */
.what h1 {
    margin-left: 25%;
    margin-right: 5%;
    margin-bottom: 2%;
    color: white;
}

.what p {
color: white;
text-align: center;
font-size: 20px;
line-height: 1.5;
margin-top: 5%;
}


/* who and why in About.jsx */
.who,
.who h1,
.why,
.why h1,
.who p,
.why p {
    background-color: white;
}

/* Container for project cards on Projects.jsx */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5%;
}


/* Footer.jsx Container for everything in footer*/
.footerContainer {
    display: flex;
    margin-top: 6%;
}

/* Container for Location, Number, Email in Footer.jsx */
.contactInfo {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: white;
}

/* Number, Location, and Email in Footer.jsx */
.number,
.location,
.email {
    margin-top: 5px;
}

/* Images for Number, Email, and Location in Footer.jsx */
.email img,
.number img,
.location img {
    margin-right: 10px;
}

/* Contact Links container Footer.jsx */
.contactLinks {
    display: flex;
    margin-top: 7%;
    margin-left: 20%;

}

/* Individual links for contact info in Footer.jsx */
.linksInfo a {
    color: white;
    text-decoration: none;
}

/* Individual links list element for contact info in Footer.jsx */
.linksInfo {
    list-style: none;
    margin-left: 70%;
}

.linksInfo a:hover {
    color: rgb(82, 82, 82);
}

/* Submit button on Contact form in Contact.jsx */
.contactBtn {
    background-color: white;
    border-radius: 10%;
    padding: 7px 15px 7px 15px;
}

/* Form container in Contact.jsx */
.contactForm {
    margin-top: 10%;
    width: 75%;
    margin-left: 12%;
    margin-bottom: 2%;
}