* {
    background-color: black;
}

/* Home page name "Madilyn Cooper" */
.name {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    font-size: 70px;
    letter-spacing: 15px;
    color: #fff;
    -webkit-animation: glow 1.2s ease-in-out infinite alternate;
    -moz-animation: glow 1.2s ease-in-out infinite alternate;
    animation: glow 1.2s ease-in-out infinite alternate;
}

/* "Madilyn Cooper" homepage glow animation */
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 0px #fff;
        opacity: .16;
    }

    to {
        text-shadow: 0 0 2px #fff;
        opacity: 1;
    }
}

/* Navigation menu */
.nav {
    visibility: hidden;
}

/* Home page navigation and name header container for hover effects */
.homePage:hover .nav {
    visibility: visible;
}

.homePage:hover .name {
    visibility: hidden;
}

/* Navigation "Get to Know Me" header */
.explore {
    color: white;
    font-size: 60px;
    text-shadow: 0 0 2px #fff;
    letter-spacing: 10px;
    margin-left: 80%;
    margin-top: -45%;
}

/* Navigation list menu */
.navList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    margin-left: 150%;
    margin-top: -75%;

}

/* Individual navigation links */
.about, .projects, .resume, .contact, .gitHub {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    padding: 15px;
    margin-bottom: 30px;
    letter-spacing: 10px;
}

.about:hover, .projects:hover, .resume:hover, .contact:hover, .gitHub:hover {
cursor: pointer;
}

/* "About Me" and about image in navigation */
.aboutParent {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* "About Me" and about image hover effects */
.aboutParent .about {
    visibility: hidden;
}

.aboutParent:hover .about {
    visibility: visible;
}

/* "Projects" and projects image in navigation */
.projectParent {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* "Projects" and projects image hover effects */
.projectParent .projects {
    visibility: hidden;
}

.projectParent:hover .projects {
    visibility: visible;
}

/* Hamburger Menu image */
.burger {
    margin-top: 2%;
    margin-left: 2%;
}


